<div class="add-notification-modal centroid" id="add_notification_modal">
    <div class="overlay" onclick="closeAddNotificationModal()">
    </div>
    <div class="content border-tiny bg-white font-family-default p-2 rounded">
        <form action="" id="add-notification-form">
            <div class="">
                <div><h4>Thêm thông báo mới</h4></div>
                <div class="mb-3">
                    <div class="add-notification-title">
                        Tiêu đề
                    </div>
                    <div class="">
                        <div
                                class="r-text border-tiny pd-sm"
                                id="notification-title"
                                contenteditable="True"
                        >
                        </div>
                        <input id="notification-title-hidden" name="notification_title" type="text" class="hidden">
                    </div>
                </div>
                <div>
                    <div class="add-notification-title">
                        Nội dung
                    </div>
                    <div class="">
                        <div
                                class="r-text border-tiny pd-sm vh-50"
                                id="notification-content"
                                contenteditable="True"
                        >
                        </div>
                        <input id="notification-content-hidden" name="notification_content" type="text" class="hidden">
                    </div>
                </div>
                <div class="d-flex d-flex-horizon mt-2">
                    <div>
                        Chuyên mục
                        <select name="notify_topic" class="form-control form-control w-auto d-inline">
                            <% user.topic.forEach((topic)=> { %>
                                <option value="<%= topic %>"><%= topic %></option>
                            <% })%>
                        </select>
                    </div>
                    <div>
                        <button class="px-5 py-2 border-tiny radius-sm pd-5-10 w-100 update-sm-btn" type="submit">Thêm
                        </button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </form>
    </div>
</div>
