<div class="d-flex-top">
    <div>
        <img class="notify-user-avatar" src="/public/images/avatar.png">
    </div>
    <div>
        <strong><%= q_notify.uploader.full_name %></strong>
        <div><%= q_notify.title %></div>
    </div>
</div>