<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
<main>
    <div>
        <h1>Hello</h1>
        <p></p>
        <a href="public/javascripts/main.js">aaa</a>
    </div>
</main>

<footer>
</footer>

<script src="/javascripts/main.js">
</script>
</body>
</html>